@model VBNET_Core3_project.Models.TipoPrestamo

@{
    ViewData["Title"] = "Editar - Tipo de Prestamo";
}


<header class="mb-4 ls-glass-h">
    <div class="container ">
        <div class="text-center my-4">
            <h1 class="fw-bolder">@ViewData["Title"]</h1>
        </div>
    </div>

</header>
<div class="container ls-glass">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTipoPrestamo" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interes" class="control-label"></label>
                <input asp-for="Interes" class="form-control" />
                <span asp-validation-for="Interes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />

                @Html.ActionLink("Cancelar", "Index", "TipoPrestamo", null, new { @class = "btn btn-light" })
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
