@{
    ViewData["Title"] = "Pagos";
}
  
<header class="   mb-4 ls-glass-h">
    <div class="container ">
        <div class="text-center my-4">
            <h1 class="fw-bolder">@ViewData["Title"]</h1>
        </div> 
    </div>

</header>
 
<div class="container ls-glass">
</div>