@{
    ViewData["Title"] = "Inicio";
}
   
<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4 item shadow">
    <div class="container ">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Bienvenido a Marko Te Presta!</h1>
            <p class="lead mb-0">Tu usurero de preferencia!</p>
            <h5 class="text-success">@DateTime.Now.ToShortDateString()</h5>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="~/img/clientes.jpg" alt="Clientes">
                <div class="card-body">
                    <h2 class="card-title">Clientes</h2>
                    <p class="card-text">Pantalla de Clientes.</p>
                   
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Clientes", "Index", "Cliente", null, new { @class = "btn btn-primary" })
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/img/prestamos.jpg" alt="Prestamos">
                <div class="card-body">
                    <h2 class="card-title">Prestamos</h2>
                    <p class="card-text">Pantalla de Prestamos.</p>
                   
                </div>

                <div class="card-footer">
                    @Html.ActionLink("Prestamos", "Index", "Prestamo", null, new { @class = "btn btn-primary" })
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/img/pagos.png" alt="Pagos">
                <div class="card-body">
                    <h2 class="card-title">Pagos</h2>
                    <p class="card-text">Pantalla de Pago de prestamos.</p>
                   
                </div>

                <div class="card-footer">
                    @Html.ActionLink("Pagos", "Index", "Pago", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>


         

    </div>
</div>

